/***
    The new CSS reset - version 1.6.0 (last updated 29.4.2022)
    GitHub page: https://github.com/elad2412/the-new-css-reset
***/

/*
    Remove all the styles of the "User-Agent-Stylesheet", except for the 'display' property
    - The "symbol *" part is to solve Firefox SVG sprite bug
 */
 *:where(:not(html, iframe, canvas, img, svg, video):not(svg *, symbol *)) {
    all: unset;
    display: revert;
}

/* Preferred box-sizing value */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Reapply the pointer cursor for anchor tags */
a, button {
    cursor: revert;
}

/* Remove list styles (bullets/numbers) */
ol, ul, menu {
    list-style: none;
}

/* For images to not be able to exceed their container */
img {
    max-width: 100%;
}

/* removes spacing between cells in tables */
table {
    border-collapse: collapse;
}

/* revert the 'white-space' property for textarea elements on Safari */
textarea {
    white-space: revert;
}

/* minimum style to allow to style meter element */
meter {
    -webkit-appearance: revert;
    appearance: revert;
}

/* reset default text opacity of input placeholder */
::placeholder {
    color: unset;
}

/* fix the feature of 'hidden' attribute.
   display:revert; revert to element instead of attribute */
:where([hidden]) {
    display: none;
}

/* revert for bug in Chromium browsers
   - fix for the content editable attribute will work properly. */
:where([contenteditable]) {
    -moz-user-modify: read-write;
    -webkit-user-modify: read-write;
    overflow-wrap: break-word;
    -webkit-line-break: after-white-space;
}

/* apply back the draggable feature - exist only in Chromium and Safari */
:where([draggable="true"]) {
    -webkit-user-drag: element;
}


/*font face 
font-family: 'Poppins', sans-serif;

*/
/* theme color 
rgb(1,45,91) (header strip bg color)
rgb(25,29,52)(font color)
rgb(229,94,107)(btn bg color)
rgb(1,45,91)
rgb(229,94,107)
rgb(255,255,255) (white font color)
rgb(34,34,34) (footer icon bg color)

/*

/* custom styles */


/* header-strip styles */

.flex{
    display: flex;
    justify-content: space-between;
}
.center-o{
    display: flex;
    justify-content: center;
    align-items: center;
}
.middle{
    display: flex;
    align-items: center;
}

.flex01{
    display: flex;
    justify-content: flex-start;
}
.wrap{
    flex-wrap: wrap;
}

.container-h{
    width: 80%;
    margin: 0 auto;
}
.container{
    width: 75%;
    margin: 0 auto;
}
.header-strip{
    height: 60px;
    background-color: rgb(1,45,91);
    color: rgb(255,255,255);
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}
.header-strip1{
    width: 50%;
}
.addrs{
    margin-left: 10px;
    margin-right: 100px;
}
.mail-id{
    margin-left: 10px;
}
.nav-icon a{
    margin-left: 32px;
}
.header-strip02{
    height: 120px;
}
.header-bg{
    background-image: url(../media/hero/cases_hero.jpg);
    width: 100%;
    height: 300px;
}
.header-hero{
    color: rgb(255,255,255);
    font-family: 'Poppins', sans-serif;
    font-size: 60px;
    font-weight: 700;
}
.brand-logo-link h2{
    font-family: 'Poppins', sans-serif;
    font-size: 32px;
    font-weight: 800;
    color: rgb(1,45,91);
    letter-spacing: -1px;
}
.brand-logo-link i{
    font-size: 10px;
    color: rgb(229,94,107);
}
.page-link{
    color: rgb(1,45,91);
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 16px;
    text-transform: uppercase;
    margin-right: 50px;
}
.contact-btn{
    font-size: 16px;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    padding: 16px 24px;
    color: rgb(255,255,255);
    background-color: rgb(229,94,107);
    border-radius: 6px;
}



/* page main content styles */


/* hero section styles  */

.hero-section{
    height: 62vh;
    text-align: center;
}

.hero-div{
    background: url(../media/team/wetrusted.jpg) no-repeat left top;
    background-size: contain;
    height: 610px;
    width: 100%;
    margin-top: 150px;
}
.side-text-box{
    width: 100%;
    height: 100%;
    position: relative;
}

.para-box{
    width: 680px;
    height: 420px;
    padding: 60px;
    text-align: left;
    position: absolute;
    bottom: 0%;
    right: 12%;
    background-color: rgb(255,255,255,0.5);
}

.para-box h2{
    color: rgb(25,29,52);
    font-family: 'Poppins', sans-serif;
    font-size: 44px;
    font-weight: 700;
}
.para-box p{
    color: rgb(134,140,152);
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    line-height: 1.7;
    margin-top: 22px;
    word-spacing: 4px;
}

.para-btn{
    padding: 16px 32px;
    background-color: rgb(229,94,107);
    margin-top: 24px;
    border-radius: 6px;
    width: 180px;
}
.para-btn a{
    text-transform: uppercase;
    color: rgb(255,255,255);
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}



/* what we do section styles  */

.what-we-do{
    height: max-content;
    padding: 140px 0;
    width: 100%;
    background-color: rgb(246,249,254);
}

.info-about-box{
    width: 100%;
}



.about-team-box{
    width: 30%;
    height: 450px;
    padding-bottom: 32px;
    text-align: left;
}
.about-team-box p{
    color: rgb(134,140,152);
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    line-height: 1.7;
    margin-top: 22px;
    word-spacing: 5px;
}
.about-team-box h2{
    color: rgb(25,29,52);
    font-size: 24px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    margin-top: 16px;
    text-transform: capitalize;
}


.info-box{
    border: solid 4px rgb(229,94,107);
    padding: 32px;
}

.info-box h2{
    color: rgb(25,29,52);
    font-family: 'Poppins', sans-serif;
    font-size: 44px;
    font-weight: 700;
    text-transform: none;
    word-spacing: 4px;
}
.info-box hr{
    background-color: rgb(229,94,107);
    width: 40%;
    height: 4px;
    margin: 16px 0;
}

.info-box a{
    display: block;
    color: rgb(25,29,52);
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 16px;
    margin-top: 16px;
}




/* testimonial part styles */


.testimonial{
    height: max-content;
    padding: 60px;
}

.test-div{
    text-align: center;
    margin-top: 140px;
}

.test-mo{
    height: 220px;
}

.arrow-l{
    width: 25%;
    text-align: left;
    font-size: 32px;
    color: rgb(134,140,152);
}

.arrow-r{
    width: 25%;
    text-align: right;
    font-size: 32px;
    color: rgb(134,140,152);
}
.para-part{
    padding: 0 150px;
}

.para-part p{
    color: rgb(25,29,52);
    font-size: 26px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    line-height: 1.7;
    word-spacing: 6px;
    letter-spacing: 1px;
}
.star{
    color: yellow;
    margin-bottom: 24px;
}
.author-n{
    text-transform: uppercase;
    color: rgb(25,29,52);
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
}
.c-name{
    text-transform: capitalize;
    color: rgb(134,140,152);
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}





/* recent news section styles */




.recent-news{
    height: max-content;
    padding: 60px 0;
    text-align: center;
}

.news-heading{
    color: rgb(25,29,52);
    font-family: 'Poppins', sans-serif;
    font-size: 60px;
    font-weight: 700;
    margin: 80px 0;
}

.recent-box{
    padding: 32px;
}

.recent-box h2{
    margin: 24px 0;
    color: rgb(229,94,107);
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    text-align: left;
    margin-left: 32px;
}


.descrp{
    color: rgb(25,29,52);
    font-size: 24px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    text-align: left;
    margin-left: 32px;
    margin-bottom: 16px;
}


.box-date{
    color: rgb(134,140,152);
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    text-align: left;
    margin-left: 32px;
}





/* foot head styles*/

.foot-head{
    height: 450px;
    width: 100%;
    background-color: rgb(1,45,91);
}
.instruction-part{
    width: 40%;
    height: 100%;
    padding: 100px 75px 100px 0;
}
.instruction-part h2{
    color: rgb(255,255,255);
    font-family: 'Poppins', sans-serif;
    font-size: 44px;
    font-weight: 700;
    text-transform: capitalize;
}
.instruction-part p{
    color: rgb(255,255,255);
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 500;
    margin-top: 32px;
    line-height: 1.5;
}
.form-part{
    width: 55%;
    padding: 100px 0 100px 75px;
}
.form-box{
    width: 48%;
    height: 60px;
    border: solid 2px rgb(41,86,132);
    border-radius: 4px;
}
.form-box p{
    color: rgb(255,255,255);
    font-size: 16px;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    margin-left: 20px;
    text-transform: capitalize;
}
.form-box1{
    width: 60%;
    height: 60px;
    border: solid 2px rgb(41,86,132);
    border-radius: 4px;
}


.form-box1 p{
    color: rgb(167, 164, 164);
    font-size: 16px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    text-transform: capitalize;
    margin-left: 20px;
}
.form-box1 i{
    color: rgb(167, 164, 164);
    margin-right: 10px;
}

.send-btn{
    width: 35%;
    height: 60px;
    background-color: rgb(229,94,107);
    border-radius: 6px;
}

.send-btn a{
    color: rgb(255,255,255);
    font-size: 14px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    text-transform: capitalize;
}


/* footer styles  */


.footer{
    height: 500px;
}
.foot-logo-link{
    width: 35%;
    padding: 100px 100px 0 0;
}
.foot-logo-link h2{
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    font-weight: 800;
    color: rgb(1,45,91);
    letter-spacing: -1px;
}
.foot-company-link{
    width: 20%;
    text-align: left;
    padding: 100px 50px 0;
}
.foot-services{
    width: 23%;
    text-align: left;
    padding: 100px 50px 0;
}
.contact-foot-link{
    width: 22%;
    text-align: left;
    padding: 100px 50px 0;
}
.foot-logo-link i{
    font-size: 12px;
    color: rgb(229,94,107);
}
.foot-logo-link p{
    color: rgb(134,140,152);
    font-size: 16px;
    line-height: 1.5;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    margin-top: 36px;
}
.foot-icon-link{
    margin-top: 36px;
    width: 40%;
}
.nav-foot-icon i{
    font-size: 22px;
    color: rgb(34,34,34);
}
.foot-company-link h2 , .foot-services h2, .contact-foot-link h2{
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-weight: 600;
    color: rgb(1,45,91);
    text-transform: capitalize;
}
.footer-nav-link li{
    color: rgb(134,140,152);
    font-size: 18px;
    text-transform: capitalize;
    margin-top: 24px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}
.footer-nav-link0 .phone , .footer-nav-link0 a , .footer-nav-link0 p {
    color: rgb(134,140,152);
    font-size: 18px;
    text-transform: capitalize;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    margin-top: 24px;
    display: block;
}

.footer-line{
    height: 1px;
    background-color: rgb(87, 182, 236);
    margin-top: 40px;
}
.foot-after-line{
    text-align: center;
}
.foot-after-line p{
    margin-top: 22px;
    font-size: 14px;
    color: rgb(134,140,152);
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}
.foot-after-line p i{
    color: rgb(229,94,107);
    font-size: 24px;
}
.foot-after-line p q{
    color: rgb(229,94,107);
    font-size: 16px;
}