/***
    The new CSS reset - version 1.6.0 (last updated 29.4.2022)
    GitHub page: https://github.com/elad2412/the-new-css-reset
***/

/*
    Remove all the styles of the "User-Agent-Stylesheet", except for the 'display' property
    - The "symbol *" part is to solve Firefox SVG sprite bug
 */
 *:where(:not(html, iframe, canvas, img, svg, video):not(svg *, symbol *)) {
    all: unset;
    display: revert;
}

/* Preferred box-sizing value */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Reapply the pointer cursor for anchor tags */
a, button {
    cursor: revert;
}

/* Remove list styles (bullets/numbers) */
ol, ul, menu {
    list-style: none;
}

/* For images to not be able to exceed their container */
img {
    max-width: 100%;
}

/* removes spacing between cells in tables */
table {
    border-collapse: collapse;
}

/* revert the 'white-space' property for textarea elements on Safari */
textarea {
    white-space: revert;
}

/* minimum style to allow to style meter element */
meter {
    -webkit-appearance: revert;
    appearance: revert;
}

/* reset default text opacity of input placeholder */
::placeholder {
    color: unset;
}

/* fix the feature of 'hidden' attribute.
   display:revert; revert to element instead of attribute */
:where([hidden]) {
    display: none;
}

/* revert for bug in Chromium browsers
   - fix for the content editable attribute will work properly. */
:where([contenteditable]) {
    -moz-user-modify: read-write;
    -webkit-user-modify: read-write;
    overflow-wrap: break-word;
    -webkit-line-break: after-white-space;
}

/* apply back the draggable feature - exist only in Chromium and Safari */
:where([draggable="true"]) {
    -webkit-user-drag: element;
}


/*font face 
font-family: 'Poppins', sans-serif;

*/
/* theme color 
rgb(1,45,91) (header strip bg color)
rgb(25,29,52)(font color)
rgb(229,94,107)(btn bg color)
rgb(1,45,91)
rgb(229,94,107)
rgb(255,255,255) (white font color)
rgb(34,34,34) (footer icon bg color)

/*

/* custom styles */


/* header-strip styles */

.flex{
    display: flex;
    justify-content: space-between;
}
.center-o{
    display: flex;
    justify-content: center;
    align-items: center;
}
.middle{
    display: flex;
    align-items: center;
}
.column00{
    flex-direction: column;
}
.flex01{
    display: flex;
    justify-content: flex-start;
}
.flex02{
    display: flex;
    justify-content: center;
}
.wrap{
    flex-wrap: wrap;
}

.container-h{
    width: 80%;
    margin: 0 auto;
}
.container{
    width: 75%;
    margin: 0 auto;
}
.header-strip{
    height: 60px;
    background-color: rgb(1,45,91);
    color: rgb(255,255,255);
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}
.header-strip1{
    width: 50%;
}
.addrs{
    margin-left: 10px;
    margin-right: 100px;
}
.mail-id{
    margin-left: 10px;
}
.nav-icon a{
    margin-left: 32px;
}
.header-strip02{
    height: 120px;
}
.header-bg{
    background-image: url(../media/hero/cases_hero.jpg);
    width: 100%;
    height: 300px;
}
.header-hero{
    color: rgb(255,255,255);
    font-family: 'Poppins', sans-serif;
    font-size: 60px;
    font-weight: 700;
}
.brand-logo-link h2{
    font-family: 'Poppins', sans-serif;
    font-size: 32px;
    font-weight: 800;
    color: rgb(1,45,91);
    letter-spacing: -1px;
}
.brand-logo-link i{
    font-size: 10px;
    color: rgb(229,94,107);
}
.page-link{
    color: rgb(1,45,91);
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 16px;
    text-transform: uppercase;
    margin-right: 50px;
}
.contact-btn{
    font-size: 16px;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    padding: 16px 24px;
    color: rgb(255,255,255);
    background-color: rgb(229,94,107);
    border-radius: 6px;
}

/* main content styles start here */

/* our blog styles */

.our-sec-blog{
    padding: 120px 0;
}


.blog-box{
    width: 66%;
}


.blog-det-box{
    padding-left: 32px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    margin-bottom: 48px;
}
.blog-media-box{
    position: relative;
    height: 425px;
}

.date{
    position: absolute;
    left: 50px;
    bottom: 0px;
    width: 100px;
    height: 100px;
    padding: 12px 0;
    background-color: rgb(229,94,107);
    color: rgb(255,255,255);
    font-size: 24px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    text-transform: capitalize;
    border-radius: 6px;
}
.blog-post-text-part{
    padding: 32px;
}
.blog-post-heading{
    color: rgb(11,28,57);
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 28px;

}

.blog-post-para{
    color: rgb(134,140,152);
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    line-height: 1.7;
    width: 90%;
    letter-spacing: 1px;
    padding: 12px 0;
}
.blog-like{
    width: 36%;
    font-size: 14px;
    color: rgb(134,140,152);
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    padding: 8px 12px;
}

.blog-like img{
    width: 20px;
    height: 20px;
}

.slide-no-box{
    width: 48px;
    height: 48px;
    border: solid 1px rgb(184, 217, 236);
    color: rgb(112, 117, 128);
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    margin-left: 16px;
}
.slide-no-box00{
    width: 48px;
    height: 48px;
    border: solid 1px rgb(184, 217, 236);
    color: rgb(112, 117, 128);
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    margin-left: 16px;
    background-color: rgb(241, 214, 217);
}




    /* aside styles */

.aside{
    width: 30%;
}

.aside-bg-color{
    background-color: rgb(251,249,255);
    width: 100%;
    padding: 40px 36px;
    margin-bottom: 32px;
}

.aside-box01{
    height: 220px;
}

.aside-box02{
    height: fit-content;
}

.aside-box03{
    height: max-content;
}

.aside-box04{
    height: max-content;
}

.aside-box05{
    height: max-content;
}

.aside-box06{
    height: max-content;
}

.search-box{
    border: solid 1px rgb(229,94,107);
    height: 60px;
    width: 85%;
    background-color: rgb(255,255,255);
}
.search-box p{
    margin-left: 12px;
    font-size: 14px;
    color: rgb(134,140,152);
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    text-transform: capitalize;

}
.search-box-i{
    width: 15%;
    height: 60px;
    background-color: rgb(229,94,107);
}
.search-btn-aside{
    border: solid 1px rgb(229,94,107);
    height: 60px;
    width: 100%;
    margin-top: 24px;
    background-color: rgb(255,255,255);
}
.search-btn-aside a{
    font-size: 16px;
    color: rgb(229,94,107);
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.cat-heading{
    font-size: 28px;
    color: rgb(11,28,57);
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    text-transform: capitalize;
}
.cat-list li{
    font-size: 18px;
    color: rgb(112, 117, 128);
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

.thin-line{
    height: 1px;
    background-color: rgb(227, 231, 233);
    width: 100%;
    margin: 18px 0;
}

.blog-post-text{
    width: 65%;
    margin: 28px 0;
}
.blog-post-text h2{
    font-size: 18px;
    color: rgb(11,28,57);
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    margin-bottom: 6px;
}
.blog-post-text p{
    font-size: 16px;
    color: rgb(112, 117, 128);
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

.tag-box{
    width: fit-content;
    height: fit-content;
    padding: 8px 18px;
    background-color: rgb(255,255,255);
    border: solid 1px rgb(227, 231, 233);
    font-size: 14px;
    color: rgb(134,140,152);
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    margin-top: 12px;
    margin-left: 12px;
}
.tag-heading, .feeds-heading, .newslet-heading{
    font-size: 28px;
    color: rgb(11,28,57);
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    text-transform: capitalize;
}

.feed-img-box{
    width: 32%;
    margin-top: 16px;
}

.ent-email-box{
    border: solid 1px rgb(229,94,107);
    height: 60px;
    width: 100%;
    background-color: rgb(255,255,255);
}
.ent-email-box p{
    margin-left: 12px;
    font-size: 12px;
    color: rgb(134,140,152);
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    text-transform: capitalize;
}
.sub-btn-aside{
    border: solid 1px rgb(229,94,107);
    height: 60px;
    width: 100%;
    margin-top: 24px;
    background-color: rgb(255,255,255);
}
.sub-btn-aside a{
    font-size: 16px;
    color: rgb(229,94,107);
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1px;
}








/* footer styles  */




.footer{
    height: 500px;
}
.foot-logo-link{
    width: 35%;
    padding: 100px 100px 0 0;
}
.foot-logo-link h2{
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    font-weight: 800;
    color: rgb(1,45,91);
    letter-spacing: -1px;
}
.foot-company-link{
    width: 20%;
    text-align: left;
    padding: 100px 50px 0;
}
.foot-services{
    width: 23%;
    text-align: left;
    padding: 100px 50px 0;
}
.contact-foot-link{
    width: 22%;
    text-align: left;
    padding: 100px 50px 0;
}
.foot-logo-link i{
    font-size: 12px;
    color: rgb(229,94,107);
}
.foot-logo-link p{
    color: rgb(134,140,152);
    font-size: 16px;
    line-height: 1.5;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    margin-top: 36px;
}
.foot-icon-link{
    margin-top: 36px;
    width: 40%;
}
.nav-foot-icon i{
    font-size: 22px;
    color: rgb(34,34,34);
}
.foot-company-link h2 , .foot-services h2, .contact-foot-link h2{
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-weight: 600;
    color: rgb(1,45,91);
    text-transform: capitalize;
}
.footer-nav-link li{
    color: rgb(134,140,152);
    font-size: 18px;
    text-transform: capitalize;
    margin-top: 24px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}
.footer-nav-link0 .phone , .footer-nav-link0 a , .footer-nav-link0 p {
    color: rgb(134,140,152);
    font-size: 18px;
    text-transform: capitalize;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    margin-top: 24px;
    display: block;
}

.footer-line{
    height: 1px;
    background-color: rgb(87, 182, 236);
    margin-top: 40px;
}
.foot-after-line{
    text-align: center;
}
.foot-after-line p{
    margin-top: 22px;
    font-size: 14px;
    color: rgb(134,140,152);
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}
.foot-after-line p i{
    color: rgb(229,94,107);
    font-size: 24px;
}
.foot-after-line p q{
    color: rgb(229,94,107);
    font-size: 16px;
}